<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <mat-card *ngIf="dish">
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">BACK</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list fxFlex *ngIf="dish">
      <h3 matLine>Comments</h3>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p matLine>
          <span> {{comment.comment}} </span>
        </p>
        <p matLine>
          <span> {{comment.rating}} Stars </span>
        </p>
        <p matLine>
          <span>-- {{comment.author}} {{comment.date}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>

  <mat-list *ngIf="commentForm.valid">
    <mat-list-item>
      <h1 mat-line> {{ commentForm.value.comment}}</h1>
      <p mat-line> {{ commentForm.value.rating}} Stars</p>
      <p mat-line><span>-- {{ commentForm.value.author}}</span> </p>
    </mat-list-item>
  </mat-list>

  <div>
    <h3>Write your comment</h3>
    <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-error *ngIf="formErrors.author">
            {{ formErrors.author }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider formControlName="rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1"></mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=6 required></textarea>
          <mat-error *ngIf="formErrors.comment">
            {{ formErrors.comment }}
          </mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit
      </button>
    </form>
  </div>

  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading ... Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>